.section {
    --rounding: 5px;
    height: 1rem;
}

.section:first-child {
    border-radius: var(--rounding) 0 0 var(--rounding);
}

.section:last-child {
    border-radius: 0 var(--rounding) var(--rounding) 0;
}

.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100px;
}
