# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
next-env.d.ts
tsconfig.tsbuildinfo

# misc
.DS_Store
/BLS_4_0_2025_DE/

# eslint
.eslintcache

# local env files
.env
.env.*
!.env.example
!.env.e2e.example

# vercel
.vercel

# E2E tests
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/
