# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
tsconfig.tsbuildinfo

# misc
.DS_Store

# eslint
.eslintcache

# local env files
.env
.env.*
!.env.example

# vercel
.vercel

# Supabase
**/supabase/.branches
**/supabase/.temp

# E2E tests
/test-results/
/playwright-report/
/playwright/.cache/
