.container {
    position: fixed;
    bottom: max(var(--mantine-spacing-lg), env(safe-area-inset-bottom));
    right: max(var(--mantine-spacing-lg), env(safe-area-inset-right));
    z-index: var(--app-layer-fab);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.button {
    max-width: fit-content;
}
