/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#__next {
    background-color: var(--app-color-surface-default);
    height: 100%;
    font-family: var(--mantine-font-family);
}

a {
    color: inherit;
    text-decoration: none;
}

#__next {
    display: grid;
    grid-template-rows: auto 1fr;
}

::selection {
    background-color: var(--app-color-decoration-grid);
}

.container {
    --dot-size: 1px;
    border-top: var(--app-size-page-border) solid
        var(--app-color-decoration-grid);
    min-height: calc(100dvh - var(--app-size-header));
    padding: var(--app-space-page);
    position: relative;
    background-color: var(--app-color-surface-page);
    background-size: 20px 20px;
    background-image:
        radial-gradient(
            var(--app-color-decoration-grid) var(--dot-size),
            transparent var(--dot-size)
        ),
        radial-gradient(
            var(--app-color-decoration-grid) var(--dot-size),
            var(--app-color-surface-page) var(--dot-size)
        );
    background-position:
        0 0,
        10px 10px;
}

@media (max-width: 48em) {
    .container {
        min-height: calc(100dvh - var(--app-size-header-mobile));
        padding: var(--app-space-page-mobile);
    }
}
