/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#__next {
    background-color: white;
    height: 100%;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#__next {
    display: grid;
    grid-template-rows: auto 1fr;
}

:root {
    --color-primary: #a7d3a5;
    --bg-light: #ecf5ec;
}

::selection {
    background-color: var(--color-primary);
}

.container {
    --dot-size: 1px;
    border-top: 5px solid var(--color-primary);
    height: 100%;
    padding: 2rem;
    position: relative;
    background-color: var(--bg-light);
    background-size: 20px 20px;
    background-image: radial-gradient(
            var(--color-primary) var(--dot-size),
            transparent var(--dot-size)
        ),
        radial-gradient(
            var(--color-primary) var(--dot-size),
            var(--bg-light) var(--dot-size)
        );
    background-position:
        0 0,
        10px 10px;
}

.container .content {
    width: clamp(50%, 65% + 5vw, 75%);
}
