.removeButton {
    min-height: var(--app-size-action);
}

@media (max-width: 48em) {
    .row {
        align-items: stretch;
        flex-direction: column;
    }

    .removeButton {
        width: 100%;
    }
}
