.container {
    --grid-config: 0.75fr repeat(7, 1fr);
    --grid-gap: 0.5rem;
    display: grid;
    gap: var(--grid-gap);
}

@media print {
    @page {
        size: landscape;
    }

    .print {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
