.cell {
    height: 100%;
    display: grid;
    gap: var(--app-space-calendar-cell);
    border: 1px solid var(--app-color-border-default);
    border-radius: var(--mantine-radius-sm);
    padding: var(--app-space-calendar-cell);
    white-space: pre-wrap;
}
