.table tr:nth-child(even) {
    background-color: var(--app-color-surface-stripe);
}

.mobileCards {
    display: none;
}

@media (max-width: 48em) {
    .table {
        display: none;
    }

    .mobileCards {
        display: flex;
    }

    .mobileCard {
        background-color: var(--app-color-surface-mobile-card);
    }

    .pagination {
        justify-content: center;
    }
}
