/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#__next {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Home page  */

.home-container {
    height: calc(100% - 5rem);
    display: grid;
}

/* Calendar styles */

.calendar-container {
    --grid-config: 0.5fr repeat(7, 1fr);
    --grid-gap: 0.5rem;
    display: grid;
    gap: var(--grid-gap);
    position: relative;
}
